<div class="container">

<div class="jumbotron text-center glow">
    <img src="/assets/img/burrger.svg" height="200">
    {{!-- <a href="https://www.freepik.com/free-photos-vectors/logo">Logo vector created by roserodionova - www.freepik.com</a> --}}
<h1 >Welcome to the Eat-Da-Burger</h1>



</div>
</div>
<div class="container" >
<div class="row">

    
    <div class="col-lg-6">

       

        <h2>Burgers List</h2>
        
<ul>
  {{#each burgers}}
     {{#unless devoured}}
     <li>{{this.id }} {{ this.burger_name}}<button class="btn btn-success" id="burger-sbt"> Devour!</button> <hr></li>
    {{/unless}}
  {{/each}}
</ul>

    </div>

    <div class="col-lg-5"> 

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
 {{#if devoured}}
 <li>{{this.id }} {{ this.burger_name}}</li>
 
    {{/if}}
  {{/each}}
</ul>


    </div>
</div>
<hr>
<br>
<div class="col-lg-12 text-center">
    
<h2>Add a Burger</h2>
<form class="create-form" action="/api/burgers" method="POST" >

  <div class="form-group">
    <label for="burger_name">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
     <button class="btn btn-info" type="submit">Add Burger</button>
  </div>

  {{!-- <div class="form-group">
    <label for="slee">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked>Devoured!<br>
    <input type="radio" name="devoured" value="0">Not Devoured yet!
  </div> --}}

 
</form>
</div>

</div>
